*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  background-color: pink;
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactForm {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  color: black;

  height: 20em;
  width: 100%;
  gap: 2%;
  div {
    display: flex;
    flex-direction: column;
    label {
      font-weight: bold;
    }
    input {
      font-size: 1.4rem;
      height: 52%;
      width: 100%;
    }
  }
  .stateAndZip {
    gap: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    .split {
      flex: 1;
      height: 100%;
    }
    .splitNoLabel {
      display: flex;
      justify-content: center;

      flex: 1;
      height: 100%;
    }
  }
}
.contactContainer {
  background-color: white;
  width: 44%;
  height: 26em;
  gap: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease-out;
  .contactFormButton {
    font-size: 1.2rem;
    /* font-weight: bold; */
    height: 3.2rem;
    width: 18.4rem;
    border-radius: 2rem;
  }
}
.skillsMainContainer {
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  background-color: white;
  width: 50%;
  height: 46em;
}
.skillsInputCard {
  background-color: #eff2f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6%;
  flex: 1;
}
.skillContainer {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: pink; */
  width: 80%;
  height: 10%;
  input {
    width: 100%;
    flex: 1;
    font-size: 1.4rem;
    text-align: center;
  }
}
.addSkillBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.finishedSkillsBtn {
  transform: translateY(200%);
  border-radius: 8px;
  font-size: 1.4rem;
  width: 18rem;
  height: 4rem;
}

.skillsRenderCard {
  background-color: #f9efef;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsContainer {
  overflow-y: auto;
  background-color: #ffffff;
  color: black;
  list-style-position: inside;
  padding: 5%;
  height: 90%;
  width: 90%;
}
.listSkill {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 3.2em;
  align-items: center;
  li {
    max-width: 71%;
    font-size: 1.2rem;
    flex: 1;
    overflow: hidden;
    text-wrap: nowrap;
  }
  .listRemove {
    height: 70%;
    width: 6%;
  }
}
.resumeSheet {
  display: flex;
  background-color: white;
  aspect-ratio: 2550 / 3300;
  /* height: auto; */
  height: 90%;
}
.sideBar {
  gap: 0.6%;
  color: black;
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 31%;
  background-color: #f2f4f3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  list-style-position: inside;
  .resumeName {
    font-size: 20pt;
    line-height: 120%;
  }
  .resumeEmail {
    word-break: break-all;
  }
}
.mainPage {
  padding: 2%;
  flex: 1;
  color: black;
}
.jobNameDates {
  font-style: italic;
}
.experienceContainer {
  display: flex;
  align-items: center;
  width: 80%;
  height: 90%;
  background-color: red;
  .contactContainer {
    width: 50%;
    height: 60%;
  }
  .experiencePreviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff2f9;
    width: 50%;
    height: 100%;
    .experiencePreview {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 4%;
      padding-bottom: 4%;
      overflow-y: auto;
      background-color: white;
      border-radius: 8px;
      width: 90%;
      height: 90%;
      .tilePreview {
        padding-left: 4%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2%;
        overflow: hidden;
        background-color: #f9efef;
        width: 90%;
        min-height: 10%;
        .buttonContainer {
          display: flex;
          justify-content: space-evenly;
          background-color: rgb(76, 0, 255);
          width: 50%;
          height: 50%;
        }
        button {
          border-radius: 8px;
          height: 100%;
          width: 40%;
        }
        p {
          text-align: center;
          width: 50%;
          overflow: hidden;
          color: black;
        }
      }
    }
  }
}

.resumeMainPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resumeButtonEditors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: auto;
  flex: 1;
  height: 90%;
  background-color: rgb(247, 0, 255);
  button {
    width: 28%;
    height: 4%;
  }
}

.resumeSkills {
  word-break: break-all;
  font-size: 12pt;
  font-weight: normal;
}
